<ion-header>
  <ion-navbar>
    <div>
      <h5
        class="font_0"
        style="text-align:center;font-size:15px;color: black;  display: flex;justify-content: center;align-items: center; "
      >
        <span style="font-size:15px"
          ><span style="font-family:stencil-w01-bold,fantasy;"
            ><a style="color: white;" *ngIf="role != 'Empleado'"
              >Empleados registrados</a
            ></span
          ></span
        >
        <span style="font-size:15px"
          ><span style="font-family:stencil-w01-bold,fantasy;"
            ><a style="color: white;" *ngIf="role == 'Empleado'"
              >INFORME TECNICO MANTENCIÓN PREVENTIVA</a
            ></span
          ></span
        >
      </h5>
    </div>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        menuToggle
        style="    border: solid 1px;color: white;padding: 5px;"
      >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <div
      class="form"
      padding-left
      padding-right
      style="padding-top:20% !important;"
    >
      <ion-card>
        <div
          class="form"
          padding-left
          padding-right
          style="padding-top:20% !important;"
        >
          <ion-list>
            <ion-item>
              <ion-label>Fecha</ion-label>
              <ion-datetime
                disabled
                displayFormat="MM/DD/YYYY"
                [(ngModel)]="form.fecha"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Nombre del ejecutor</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.nombre_del_ejecutor"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Lugar de trabajo</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.lugar_de_trabajo"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Nombre del Operador/Conductor</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.nombre_del_operador"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Equipo/Camion</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.equipo_camion"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Modelo</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.modelo"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Patente</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.patente"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Tipo de mantención</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.tipo_mantencion"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Horometro programado</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.horometro_programado"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Horometro real</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.horometro_real"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Km</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.km"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Mantención dentro de + - 50hrs.</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.mantencion_dentro_mm50h"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Mantención completa</ion-label>
              <ion-input
                disabled
                type="text"
                text-right
                [(ngModel)]="form.mantencion_completa"
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-12 text-center>
                  <b>ACEITES</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-item *ngFor="let item of form.aceites">
                  <ion-label stacked>{{ item }}</ion-label>
                  <ion-toggle disabled checked="true"></ion-toggle>
                </ion-item>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col col-12 text-center>
                  <b>FILTROS</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-item *ngFor="let item2 of form.filtros">
                  <ion-label stacked>{{ item2 }}</ion-label>
                  <ion-toggle disabled checked="true"></ion-toggle>
                </ion-item>
              </ion-row>
            </ion-grid>
          </ion-list>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col col-6 text-center style="    border: solid 1px;">
              <b>Elementos de desgaste cambiados</b>
            </ion-col>
            <ion-col col-6 text-center style="    border: solid 1px;">
              <b> Cantidad</b></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col col-8 text-center>
              <ion-input
                disabled
                type="text"
                placeholder="Elemento"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[0].descripcion"
              ></ion-input>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-input
                disabled
                type="number"
                placeholder="Cantidad"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[0].cantidad"
              ></ion-input>
            </ion-col>
            <ion-col col-8 text-center>
              <ion-input
                disabled
                type="text"
                placeholder="Elemento"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[1].descripcion"
              ></ion-input>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-input
                disabled
                type="number"
                placeholder="Cantidad"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[1].cantidad"
              ></ion-input>
            </ion-col>
            <ion-col col-8 text-center>
              <ion-input
                disabled
                type="text"
                placeholder="Elemento"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[2].descripcion"
              ></ion-input>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-input
                disabled
                type="number"
                placeholder="Cantidad"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[2].cantidad"
              ></ion-input>
            </ion-col>
            <ion-col col-8 text-center>
              <ion-input
                disabled
                type="text"
                placeholder="Elemento"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[3].descripcion"
              ></ion-input>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-input
                disabled
                type="number"
                placeholder="Cantidad"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[3].cantidad"
              ></ion-input>
            </ion-col>
            <ion-col col-8 text-center>
              <ion-input
                disabled
                type="text"
                placeholder="Elemento"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[4].descripcion"
              ></ion-input>
            </ion-col>

            <ion-col col-4 text-center>
              <ion-input
                disabled
                type="number"
                placeholder="Cantidad"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[4].cantidad"
              ></ion-input>
            </ion-col>
            <ion-col col-8 text-center>
              <ion-input
                disabled
                type="text"
                placeholder="Elemento"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[5].descripcion"
              ></ion-input>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-input
                disabled
                type="number"
                placeholder="Cantidad"
                [(ngModel)]="form.elemntos_de_desgaste_cambiados[5].cantidad"
              ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item>
            <ion-label stacked style="white-space: normal;">
              <b>
                <span>
                  Descripcion de los trabajos realizados (Testeo, prueba,
                  ajuste, calibración u otro)</span
                ></b
              >
            </ion-label>
            <ion-textarea
              disabled
              style="border: solid 1px black;padding:5px;"
              rows="6"
              cols="20"
              [(ngModel)]="form.descripcion_del_trabajo"
              placeholder=" Descripcion de los trabajos realizados..."
            >
            </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>HORA INICIO</ion-label>
            <ion-datetime
              disabled
              displayFormat="HH:mm:ss"
              pickerFormat="HH:mm:ss"
              [(ngModel)]="form.hora_icinio"
            >
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>HORA TERMINO</ion-label>
            <ion-datetime
              disabled
              displayFormat="HH:mm:ss"
              pickerFormat="HH:mm:ss"
              [(ngModel)]="form.hora_termino"
            >
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Total horas mano obra (HH)</ion-label>
            <ion-input
              disabled
              type="text"
              text-right
              [(ngModel)]="form.total_horas"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>TIEMPO DE TRASLADO</ion-label>
            <ion-input
              type="text"
              disabled
              [(ngModel)]="form.tiempo_de_traslado"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>TIEMPO DE ADQUISICION DE REPUESTOS</ion-label>
            <ion-input
              disabled
              type="text"
              [(ngModel)]="form.tiempo_add_repuestos"
              text-center
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>SERVICIOS EXTERNOS</ion-label>
            <ion-input
              disabled
              type="text"
              text-right
              [(ngModel)]="form.servicios_externos"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>SIN PERSONAL DISPONIBLE</ion-label>
            <ion-input
              type="text"
              text-right
              [(ngModel)]="form.sin_personal_disp"
            ></ion-input>
          </ion-item>
          <ion-item no-padding>
            <ion-textarea
              disabled
              style="border: solid 1px black;padding:5px;"
              rows="6"
              cols="20"
              placeholder=" OBSERVACIONES..."
              [(ngModel)]="form.observaciones"
            ></ion-textarea>
          </ion-item>
          <!--  <ion-item>
            <ion-label>Descripcion</ion-label>
            <ion-input disabled type="text" placeholder="Incorporación al sistema documentado..." disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha de Aprobacion</ion-label>
            <ion-input disabled type="text" placeholder="03/06/2013" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Elabora y Aprueba</ion-label>
            <ion-input disabled type="text" placeholder="Mauricio Mendez/Héctor Román" disabled></ion-input>
          </ion-item> -->
        </ion-list>
      </ion-card>
    </div>
  </ion-card>
</ion-content>
